doctype html
html
    if (holidays === 'halloween')
        title(id="pageTitle") !{vip ? '(VIP)' : ''} /h#{boards.IMAGES.path.toUpperCase()}/ Horror Images - Midback Halloween edition
    else if (holidays === 'natal')
        title(id="pageTitle") !{vip ? '(VIP)' : ''} /#{boards.IMAGES.path.toUpperCase()}/ Images - Midback Christmas edition
    else
        title(id="pageTitle") !{vip ? '(VIP)' : ''} /#{boards.IMAGES.path.toUpperCase()}/ Images - Midback 2D

    include ../templades/head.pug
    include ../templades/themeChecker.pug

    body(class=(theme))
        if (!admin || admin === true && !aclAdmin)
            include ../templades/imgPreview.pug

        include ../templades/boards.pug
        if (!vip)
            include ../templades/adsContent.pug

        -headerMode = 2
        include ../templades/header.pug

        section
            input(type="hidden" id="mode" value=(admin === true && aclAdmin === true ? 'admin' : 'normal'))

            div(class="container-fluid")
                div(class="row justify-content-center" id="itemContainer")
                    if (files.length > 0)
                        include ../templades/itemImage.pug
                        
                    else 
                        h4(id="notFoundMessage" class="text-center") Could not find any image. Buy another passport to upload images        

                include ../templades/pagination.pug

        include ../templades/fotter.pug
        if (!vip)
            include ../templades/adsContent.pug
        include ../templades/snow.pug


        script(src="/pub/itemPreview.js")
        script(src="/pub/manager.js")
                                  