div(class="boardContent")
    div Available Boards: 
    a(href=(bdgePath + "/") class="text-light") /home/ 
    if (holidays === 'halloween')
        if (boards.IMAGES.enabled === true)
            a(href=(bdgePath + '/' + boards.IMAGES.path) class="text-light")  /h#{boards.IMAGES.path.toUpperCase()}/ - Horror #{boards.IMAGES.name}
        if (boards.VIDEOS.enabled === true) 
            a(href=(bdgePath + '/' + boards.VIDEOS.path) class="text-light")  /h#{boards.VIDEOS.path.toUpperCase()}/ - Horror #{boards.VIDEOS.name}
        if (boards.AUDIOS.enabled === true)
            a(href=(bdgePath + '/' + boards.AUDIOS.path) class="text-light")  /h#{boards.AUDIOS.path.toUpperCase()}/ - Horror #{boards.AUDIOS.name}
    else
        if (boards.IMAGES.enabled === true)
            a(href=(bdgePath + '/' + boards.IMAGES.path) class="text-light")  /#{boards.IMAGES.path.toUpperCase()}/ - #{boards.IMAGES.name}
        if (boards.VIDEOS.enabled === true) 
            a(href=(bdgePath + '/' + boards.VIDEOS.path) class="text-light")  /#{boards.VIDEOS.path.toUpperCase()}/ - #{boards.VIDEOS.name}
        if (boards.AUDIOS.enabled === true)
            a(href=(bdgePath + '/' + boards.AUDIOS.path) class="text-light")  /#{boards.AUDIOS.path.toUpperCase()}/ - #{boards.AUDIOS.name}