if (!goal.error)
    div(class="goal-container m-4")
        div(class=(!goal.award ? "goal-content" : "goal-highlight"))
            if (!goal.award)
                div(class="mb-1" style="font-size:14px") File sharing goal (Award one 3-Day Vip)
                div(class="d-flex")
                    div(class="goal-progress-bar")
                        div(class="goal-progress-percent" style=`width:${goal.percent}%;height:100%`) 
                    div(class="m-auto progress-info") #{goal.total} / #{goal.limit} Files    
            else 
                h6 Goal achieved! Thank you for contributing
                div VIP Key: !{`<a href="${bdgePath}/vip?activate=${goal.award}" class="text-warning">${goal.award}</span>`}    