div(class="mt-4")
    div(class="pagination" id="pagination")
        - limit = 10
        - l = page >= (limit - 1) ? (page + limit) - 4 : limit
        - m = page >= (limit - 1) ? page - 4 : 0
        - v = total > pageSize ? Math.ceil(total / pageSize) : 0

        - if (v <= 0) v = 1
        - if (v >= l) v = l
        - if (v > limit && (v - m) < limit) m = m - (limit - (v - m)) 


        span(class="pagination-content")
            if (page > 1)
                a(class="page font-weight-bold igr" href=`?&page=${page - 1}`) Previous  
            if (page >= limit)
                a(class="page mr-1 igr" href=`?&page=1`) 1

            while m < v
                -m++
                if (parseInt(page) !== m)
                    a(class="page" href=`?&page=${m}`)= m
                else
                    span(class="page quote")= m
        
        if (m !== page)
            a(class="page font-weight-bold igr" href=`?&page=${page + 1}`) Next  

        span(class="preview igr" id="totalPagePreview") Of #{total} files