doctype html
html
    if (file !== null)
        title(id="pageTitle") #{file.filename} - Midback 2D
    else
        title(id="pageTitle") /#{boards.VIDEOS.path.toUpperCase()}/ #{id} - Not Found

    include ../templades/head.pug
    style(id="fontStyle")
    include ../templades/themeChecker.pug

    body(class="theme-templade" style=(styleTheme))
        include ../templades/boards.pug
        if (!vip)
            include ../templades/adsContent.pug

        - headerMode = 8
        include ../templades/header.pug

        section
            input(type="hidden" id="bridgePath" value=(bdgePath))
            
            if (file !== null)
                div(class="m-4")
                    div(class="video-container")
                        div(class="video-header" style=(file.vip ? 'background:var(--bgr-vip-2)' : ''))
                            div(class="video-title") !{file.vip ? '<span class="vip-tag">VIP</span>' : ''}!{file.vip ? ` <span class="tag-model">${file.tag}</span>` : ''} #{file.filename} !{`<span class="font-weight-bold" style="font-size:12px">No. ${file.id}</span>`} 
                            div(class="color-primary" style="font-size:12px") (#{file.size}) Posted in: #{file.date} !{`<a target="_blank" href="${archiveUrl + '/' + file.filename}" class="color-accent"> View raw source </a>`}

                        div(class="video-content")    
                            video(controls="" id=`video-${file.id}`)
                                source(src=(archiveUrl + '/' + file.filename))

                    div(class="container-fluid")
                        h3(class="mt-4") Random Videos
                        div(class="row pl-4 pr-4" id="itemContainer")
                            if (files.length > 0)
                                -rf2 = true
                                include ../templades/itemVideo.pug

                        div(class="row justify-content-end pl-4 pr-4")
                            a(href=(bdgePath + "/v") style="font-size:18px") Back to /v
            else
                h3(class="text-center p-2") Video ID: #{id} not found

        include ../templades/fotter.pug
        if (!vip)
            include ../templades/adsContent.pug
        include ../templades/snow.pug

        script(src=(bdgePath + "/js/fonts.js")) 
                                  