doctype html
html
    include ../templades/head.pug

    body(class="theme-main")
        if (!vip)
            include ../templades/adsContent.pug

        - headerMode = 4
        include ../templades/header.pug
        
        section
            div(class="boardContainer")
                div(class="text-center" style="font-size:22px")
                    div Available Boards: 
                    if (holidays === 'halloween')
                        a(href=('/' + boards.IMAGES.path) class="text-light") /h#{boards.IMAGES.path.toUpperCase()}/ - Horror #{boards.IMAGES.name}
                        | 
                        a(href=('/' + boards.VIDEOS.path) class="text-light") /h#{boards.VIDEOS.path.toUpperCase()}/ - Horror #{boards.VIDEOS.name}
                        | 
                        a(href=('/' + boards.AUDIOS.path) class="text-light") /h#{boards.AUDIOS.path.toUpperCase()}/ - Horror #{boards.AUDIOS.name}
                    else
                        a(href=('/' + boards.IMAGES.path) class="text-light") /#{boards.IMAGES.path.toUpperCase()}/ - #{boards.IMAGES.name}
                        | 
                        a(href=('/' + boards.VIDEOS.path) class="text-light") /#{boards.VIDEOS.path.toUpperCase()}/ - #{boards.VIDEOS.name}
                        |  
                        a(href=('/' + boards.AUDIOS.path) class="text-light") /#{boards.AUDIOS.path.toUpperCase()}/ - #{boards.AUDIOS.name}

            div(class="statsContainer")
                div(class="text-center p-2" style="font-size:18px")
                    div There are currently !{`<span class="text-warning">${stats.images}</span>`} images, !{`<span class="text-warning">${stats.videos}</span>`} videos and !{`<span class="text-warning">${stats.audios}</span>`} audios on Midback

            if (goalEnabled === true)
                include ../templades/goal.pug

        include ../templades/fotter.pug
        if (!vip)
            include ../templades/adsContent.pug
        include ../templades/snow.pug

        script(src="pub/itemPreview.js")
                                  