doctype html
html
    include ../templades/head.pug
    style(id="fontStyle")
    include ../templades/themeChecker.pug

    body(class="theme-templade" style=(styleTheme))
        if (!vip)
            include ../templades/adsContent.pug

        - headerMode = 4
        include ../templades/header.pug
        
        section
            div(class="boardContainer")
                input(type="hidden" value=(bdgePath) id="bdgePath")

                div(class="text-center" style="font-size:22px")
                    if (!boards.IMAGES.enabled && !boards.VIDEOS.enabled && !boards.AUDIOS.enabled)
                        div / No boards available /
                    else
                        div Available Boards: 
                        if (holidays === 'halloween')
                            if (boards.IMAGES.enabled === true)
                                a(href=(bdgePath + '/' + boards.IMAGES.path) class="text-light")  /h#{boards.IMAGES.path.toUpperCase()}/ - Horror #{boards.IMAGES.name}
                            if (boards.VIDEOS.enabled === true) 
                                a(href=(bdgePath + '/' + boards.VIDEOS.path) class="text-light")  /h#{boards.VIDEOS.path.toUpperCase()}/ - Horror #{boards.VIDEOS.name}
                            if (boards.AUDIOS.enabled === true)
                                a(href=(bdgePath + '/' + boards.AUDIOS.path) class="text-light")  /h#{boards.AUDIOS.path.toUpperCase()}/ - Horror #{boards.AUDIOS.name}
                        else
                            if (boards.IMAGES.enabled === true)
                                a(href=(bdgePath + '/' + boards.IMAGES.path) class="text-light")  /#{boards.IMAGES.path.toUpperCase()}/ - #{boards.IMAGES.name}
                            if (boards.VIDEOS.enabled === true) 
                                a(href=(bdgePath + '/' + boards.VIDEOS.path) class="text-light")  /#{boards.VIDEOS.path.toUpperCase()}/ - #{boards.VIDEOS.name}
                            if (boards.AUDIOS.enabled === true)
                                a(href=(bdgePath + '/' + boards.AUDIOS.path) class="text-light")  /#{boards.AUDIOS.path.toUpperCase()}/ - #{boards.AUDIOS.name}

            div(class="statsContainer")
                div(class="text-center p-2" style="font-size:18px")
                    div There are currently
                        if (!boards.IMAGES.enabled && !boards.VIDEOS.enabled && !boards.AUDIOS.enabled)
                            span There are no boards available to perform the analysis
                        else
                            if (boards.IMAGES.enabled === true)
                                span(class="text-warning")  #{stats.images} 
                                span images
                            if (boards.VIDEOS.enabled === true)
                                span(class="text-warning")  #{stats.videos} 
                                span videos
                            if (boards.AUDIOS.enabled === true)
                                span(class="text-warning")  #{stats.audios} 
                                span audios
                            span  on Midback

            if (goalEnabled === true)
                include ../templades/goal.pug

        include ../templades/fotter.pug
        if (!vip)
            include ../templades/adsContent.pug
        include ../templades/snow.pug

        script(src=(bdgePath + "/js/fonts.js")) 
                                  